.louvre {
  height: 30rem;
  @include tablet {
    height: 25rem;
}
  @include phone {
  height: 20rem;
}
}

.arc {
  height: 50rem;
  @include tablet {
    height: 25rem;
}
  @include phone {
  height: 40rem;
}
}

.tower {
  height: 30rem;
  @include tablet {
    height: 25rem;
}
  @include phone {
  height: 20rem;
}
}


$bg: rgba(0, 0, 0, 0.2);

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 85vw;
  margin: 1rem auto;
}


.overlay {
  text-align: center;
  @include tablet {
    width: 30rem;
    height: 20rem;
    font-size: 1.2rem;
}
@include phone {
  height: 20rem;
}
}

img,
.overlay {
  transition: .3s all;
  border-radius: 3px;
  @include tablet {
    width: 30rem;
    height: 20rem;
    font-size: 1.2rem;
}
@include phone {
  height: 20rem;
}
}

.bg {
  float: left;
  position: relative;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: $bg;
    color: #fff;
    font-size: 17px;
    text-align: center;
    opacity: 0;
    h2 {
      padding-top: 20%;
      font-family: 'Droid Serif', serif;
    }
    p {
      font-family: 'Droid Serif', serif;
    }
    @include tablet {
      width: 30rem;
      height: 20rem;
      font-size: 1.2rem;
  }
  @include phone {
    height: 20rem;
    font-size: 1.2rem;
  }
  }
  &:hover {
    .overlay {
      opacity: 1;
    }
    img {
      -webkit-filter: blur(2px);
      filter: blur(2px);
    }
  }
}
///////////////////////////////
.overlay-arc {
  text-align: center;
  @include tablet {
    width: 30rem;
    height: 20rem;
    font-size: 1.2rem;
}
@include phone {
  height: 40rem;
}
}

img,
.overlay-arc {
  transition: .3s all;
  border-radius: 3px;
  @include tablet {
    width: 30rem;
    height: 20rem;
    font-size: 1.2rem;
}
@include phone {
  height: 40rem;
}
}

.bg {
  float: left;
  position: relative;
  .overlay-arc {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: $bg;
    color: #fff;
    font-size: 17px;
    text-align: center;
    opacity: 0;
    h2 {
      padding-top: 20%;
      font-family: 'Droid Serif', serif;
    }
    p {
      font-family: 'Droid Serif', serif;
    }
    @include tablet {
      width: 30rem;
      height: 20rem;
      font-size: 1.2rem;
  }
  @include phone {
    height: 40rem;
    font-size: 1.2rem;
  }
  }
  &:hover {
    .overlay-arc {
      opacity: 1;
    }
    img {
      -webkit-filter: blur(2px);
      filter: blur(2px);
    }
  }
}
