.user-gallery-two-header {
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 4px #000000;
    text-transform: capitalize;
    font-size: 7vh;
    padding: 0%;
    margin: 1rem;
  }
  .user-gallery-two {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    height: 100vh;
    background-image: 
    url("../media/EiffelTowerHeader.png");
    background-size: cover;
    background-position: center;
    @include phone {
      height: 120vh;
      }
  }
  
  .location-media {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    @include tablet {
      flex-direction: column;
  }
  }