@import "_variables.scss";

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include laptop {
    height: 90vh;
  }
}

.heading-primary {
  font-size: 10rem;
  text-transform: uppercase;
  @include tablet {
    font-size: 3rem;
  }
  @include laptop {
    font-size: 4rem;
  }
  @include desktop {
    font-size: 5rem;
  }
}

.heading-primary-main {
  width: 80vw;
  text-align: center;
  @include tablet {
    font-size: 5.5rem;
  }
}