$phone:375px;
$tablet: 768px;
$laptop: 1440px;
$desktop: 1440px;
 
@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}
@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}