.user-gallery-one-header {
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 4px #000000;
  text-transform: capitalize;
  font-size: 7vh;
  padding: 0%;
  margin: 1rem;
  }
.user-gallery-one {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 100vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(87, 43, 247, 0.116),
        rgba(235, 186, 222, 0.267)
      ),
  url("../media/Bridge.jpg");                                            
      background-size: cover;
      background-position: center;
      background-position: top;
      @include tablet {
        height: 135vh;
        }
  }
  .intro {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    @include phone {
      flex-direction: column;
  }
  }
  .welcome {
    position: relative;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px #000000;
    text-transform: capitalize;
    font-size: 4vh;
    padding: 2%;
    margin: 1rem;
    @include tablet {
      font-size: 3vh;
      }
    @include phone{
      font-size: 2.3vh;
    }
  }
