@import "_variables.scss";
@import "_usergallery.scss";
@import "_flip.scss";
@import "_blur.scss";

html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
  }
body{
  margin: 1rem;  
  background-color: rgb(190, 207, 245);
}

.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(
        to right bottom,
        rgba(98, 73, 209, 0.329),
        rgba(185, 146, 96, 0.267)
      ),
url("../media/ParisNight.jpg");
    background-size: cover;
    background-position: center;
    background-position: top;
  
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%);
}

.heading-primary {
  display: flex;
  position: relative;
  flex-direction: column;
  color: white;
  text-shadow: 7px 7px 4px #000000;
  text-align: center;  
  padding: 0%;
}

.nav-bar {
  background-color: white;
  position: relative;
  height: 80px;
  display: flex;
  align-items: center;
}

.nav-bar * {
  display: inline;
}

.nav-bar li {
  margin: 20px;
}

.nav-bar li a {
  color: black;
  font-size: 2rem;
  text-decoration: none;
}

/* History */

.user-gallery-one-header {
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 4px #000000;
  text-transform: capitalize;
  font-size: 7vh;
  padding: 0%;
  margin: 1rem;
}
.user-gallery-one {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(87, 43, 247, 0.116),
      rgba(235, 186, 222, 0.267)
    ),
url("../media/Bridge.jpg");                                            
    background-size: cover;
    background-position: center;
    background-position: top;
}

/* Locations */

.user-gallery-two-header {
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 4px #000000;
  text-transform: capitalize;
  font-size: 7vh;
  padding: 0%;
  margin: 1rem;
}
.user-gallery-two {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  height: 100vh;
  background-image: 
  url("../media/EiffelTowerHeader.png");
  background-size: cover;
  background-position: center;
}

.location-media {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
  @include tablet {
    flex-direction: column;
}
}

/* Cuisine */

.user-gallery-three-header {
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 4px #000000;
  text-transform: capitalize;
  font-size: 7vh;
  padding: 0%;
  margin: 1rem;
}
.user-gallery-three {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(216, 209, 241, 0.075),
      rgba(215, 242, 243, 0.267)
    ),
url("../media/MacaronBack.jpg");
    background-size: cover;
    background-position: center;
    background-position: top;
}
.cuisine-media {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  @include tablet {
    flex-direction: column;
}
}
.user-gallery-three-caption {
  position: relative;
  text-align: center;
  color: black;
  font-size: 2.5rem;
  margin: 1rem;
  @include phone {
    font-size: 1rem;
  }
  @include tablet {
    font-size: 1.5rem;
}
}

/* History */

.user-gallery-four-header {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 4px #000000;
  text-transform: capitalize;
  font-size: 7vh;
  padding: 0%;
  margin: 1rem;
}
.user-gallery-four {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 50vh;
  background-color: rgba(255, 255, 255, 0.411);
}
