@import "_variables.scss";
@import "_usergallery.scss";
html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
  }
body{
    background-color: rgb(245, 221, 189);
}

.header {
    position: relative;
    height: 100vh;
    background-image: url(../media/EiffelTowerHeader.png);
    background-position: top;
    background-size: cover;
  
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 9vh, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0% 100%);
}

.heading-primary {
  display: flex;
  position: relative;
  flex-direction: column;
  color: white;
  text-shadow: 7px 7px 4px #000000;
  text-align: center;  
  text-transform: uppercase;
  font-size: 17vh;
  padding: 0%;
}
.heading-primary-main {
  width: 80vw;
  text-align: center;
  @include tablet {
    font-size: 5.5rem;
  }
}

.user-gallery-one-header {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-shadow: 4px 4px 4px #000000;
  text-align: center;  
  text-transform: capitalize;
  font-size: 7vh;
  padding: 0%;
  margin: 2%;
}
.user-gallery-one {
  position: relative;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.411);
}
.user-gallery-one-media {
  display: flex;
  position: relative;
  margin: 1rem;
}
.user-gallery-one-caption {
  position: relative;
  color: black;
  text-align: center;  
  font-size: 2.5vh;
  margin: 1rem;
}

.user-gallery-two-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-shadow: 4px 4px 4px #000000;
  text-align: center;  
  text-transform: capitalize;
  font-size: 7vh;
  padding: 0%;
  margin: 2%;
}
.user-gallery-two {
  position: relative;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.411);
}
.user-gallery-two-media {
  display: flex;
  position: relative;
}
.user-gallery-two-caption {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  color: black;
  text-align: center;  
  font-size: 2.5vh;
}

.user-gallery-three-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-shadow: 4px 4px 4px #000000;
  text-align: center;  
  text-transform: capitalize;
  font-size: 7vh;
  padding: 0%;
  margin: 2%;
}
.user-gallery-three {
  position: relative;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.411);
}