@import "_variables.scss";
@import "_usergallery.scss";
@import "_hover.scss";
@import "_flip.scss";
@import "_blur.scss";
@import "_welcome.scss";
@import "_landmarks.scss";
@import "_cuisine.scss";

html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
  }
body{
  margin: 1rem;  
  background-color: rgb(190, 207, 245);
}

.header {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(
        to right bottom,
        rgba(98, 73, 209, 0.329),
        rgba(185, 146, 96, 0.267)
      ),
url("../media/ParisNight.jpg");
    background-size: cover;
    background-position: center;
    background-position: top;
  
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%);
}

.heading-primary {
  display: flex;
  position: relative;
  flex-direction: column;
  color: white;
  text-shadow: 7px 7px 4px #000000;
  text-align: center;  
  padding: 0%;
}
