* {
    box-sizing: border-box;
  }

.zoom {
    padding: 50px;
    background-image: url("../media/MacaronBack.jpg");
    transition: transform .2s; 
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.5); 
  }